configuration {
    modes: "window,drun,run,ssh,file-browser-extended,filebrowser";
    kb-accept-entry: "Return";
    kb-remove-to-eol: "";
    kb-row-up: "Up,Control+k";
    kb-row-down: "Down,Control+j";
}

@import "./nord.rasi"
